<table id="chat-room-admin-table">
    <thead>
        <tr>
            <th>{{ t('Room Name') }}</th>
            <th>{{ t('Linked Jam') }}</th>
            <th>{{ t('Status') }}</th>
            <th>{{ t('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for r in rooms %}
            {% include 'partials/room_admin_row.html' %}
        {% else %}
            <tr><td colspan='4' style='text-align:center; color:grey;'>{{ t('No rooms.') }}</td></tr>
        {% endfor %}
    </tbody>
</table>
